.modalContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;

    
    position: fixed;
    margin: 0 auto;
    padding: 1rem;
    width: 100vw;
    left: 0;
    top: 0;
    min-height:100vh;
    background-color: rgba(0, 0, 0, .7);
    
}
.modalContainer .content{
    max-width: 39.87rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;

    border-radius: 8px;
    width: 100%;
    padding-top: 1.5rem;
    padding: 1.5rem 2rem 2rem 2rem;
    background-color: var(--gray600);
}
.content strong {
    flex: 1;
    text-align: center;
    font-size: 1.5rem;
    color:  var(--grey100);
}
.content p{
    text-align: center;
    max-width: 14.75rem;
    margin: 0 auto;
}

.content footer {
    display: flex;
    justify-content: center;
    column-gap:  .5rem;
}
.content footer button{
    border-radius: 8px;
    padding: .75rem 2rem;
    font-size: 0.875rem;
    font-weight: bold;
}

.content footer button.cancel{
    border: 1px solid var(--gray100);
    color: var(--gray100);
    background-color: transparent;
}
.content footer button.delete {
    background-color: var(--gray500);
    color: var(--danger);
    transition: .3s filter;
}

.content footer button:hover{
    filter: opacity(.8);
}
.content footer button:focus{
    box-shadow: 0px 0px 0px 1px var(--gray700);
}