
main.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
    
    margin: -1.6875rem  auto 0 auto;
    max-width: 48rem;
    padding:  0 1rem
    
}

main.container section.taskStatus{
    width: 100%;
    display: flex;
    justify-content:  space-between;

    margin-top: 4rem;
}

main.container section.taskStatus div{
    display: flex;  
    align-items: center;

    column-gap: .5rem;
    font-size: .875rem;
}
main.container section.taskStatus div.created strong{
    color: var(--blue400);
}

main.container section.taskStatus div.done strong{
    color: var(--purple400);
}

main.container section.taskStatus div span{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--gray400);
    padding: 4px;
    text-align: center;
    height: 1.1875rem;
    min-width: 1.5625rem;
    border-radius: 999px;

}

main.container article.tasks{
    width: 100%;
    margin-top: 1.5rem;

}
main.container article.tasks div.withoutTask{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    border-top: 1px solid var(--gray400);
    border-radius: 8px;
    row-gap: 1rem;
    width: 100%;
    height: 15.25rem;
}

main.container article.tasks div.withoutTask strong{
    display: block;
}